
/**************************************Body*/

@font-face
{
    font-family: 'Raleway';   
    src: url('font/Raleway-VariableFont_wght.ttf') format('truetype');     
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

#section_global
{
    padding: 0 2rem 2rem 2rem;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}

ul, li, #section_global, header {
	list-style: none;
}




@media (max-width: 1000px)
{
h1
{
    font-size: 2em;
}
}

a
{
    text-decoration:none;
    color: black;
}

.footer_ul 
{
    padding-left: 0px;
}

/**************************************header*/

#header_global
{    
    max-width: 1440px;
    margin: auto;
    
    align-items: center;
    display: grid;                
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button"; 
}

#header_logo
{
    grid-area: logo; 
}

#main_logo
{
    height: 3rem;
    padding: 0 2rem;
    cursor: pointer;
}

#header_navbar
{
    grid-area: navbar;
    order: 2;
    display: flex;
    align-items: center;
    margin-top: -1px;
}

.header
{         
    padding: 30px;       
}

#header_activites:hover
{   
    border-top: 3px solid #0065FC;
} 

#header_hebergement
{    
    border-top: 3px solid #0065FC;    
}

#header_inscription
{
    grid-area: button;
    padding: 2rem; 
    color: #0065FC;
    font-weight: 600;   
}

a
{
    text-decoration:none;
    color: black;
}

/**************************************header*/
/**************************************Responsive*/

@media (max-width: 1000px)
{
    #header_global
    {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo . button"
            "navbar navbar navbar";   
    }

    #header_hebergement,#header_activites
    {
        width: 50%;
        text-align: center;
        border-top: none;
    }

    #header_hebergement
    {    
        border-bottom: 3px solid #0065FC;    
    }

    #header_navbar
    {
        grid-area: navbar;
        order: 2;
        display: flex;
        align-items: center;
    }

    #header_activites
    {
        border-bottom: 3px solid rgb(241, 241, 241);
    }

    #header_activites:hover
    {   
        border-bottom: 3px solid #0065FC;
        border-top: none;
    } 
}

/*******************************************Main*/
/*******************************************Search*/

.presentation, #filters, #information
{
    max-width: 1440px;
    margin: auto;
}

#rechercher
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;   
}

#logo_maps
{
    background-color: rgb(241, 241, 241);
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

#search
{
    border: 0.5px solid rgb(241, 241, 241);
}

#button_style
{
    color: white;
    background-color: #0065FC;
    padding: 1rem 1.25rem;
    border-radius: 0 1rem 1rem 0;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

#filters
{  
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

#filter_title, .filters
{
    font-weight: bold; 
    margin-right: 2rem;  
}

.filters
{
    display: flex;
    align-items: center;    
    border: 2px solid #d9d9d9;
    cursor: pointer;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    transition-duration: 0.1s;
    transform: scale(1);
}

.filters:hover
{
    transform: scale(1.025);
}

.filters_logos
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filters_text
{
    padding-left: 2rem;
    align-items: center;  
    padding-right: 2rem;
}

#information
{
    display: flex;
    align-items: center;    
}

#information_circle
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;    
}

#information_logo
{
    color: #0065FC;   
}

/**************************************Search*/
/**************************************Responsive*/
@media (max-width: 450px)
{
    #filter_title
    {
        width: 100%;
    }

    #button_text
    {
        display: none;
    }
    }

    @media (min-width: 450px)
    {
    .search_logo
    {
        display: none !important;
    }
}


/*********************************************Accomodations*/

#hebergement, #populaires 
{       
    margin: 15px 0px 15px 0px;
    padding: 15px;
    border-radius: 15px;  
}

.header_hebergement
{
    grid-column: 1/-1;  
    margin: 0px;  
}

.hebergement_bloc
{
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 25px;
    padding: 0.5em;
    padding-bottom: 1em;
    margin: 1%;  
    transition-duration: 0.1s;
    transform: scale(1);
}

.hebergement_bloc:hover
{
    transform: scale(1.025);
}

.image
{   
    height: 7rem;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}


.stars
{
    padding: 0.5rem 0;
}

.star_blue
{
    color: #0065FC;
}

.star_grey
{
    color: #D9D9D9;
}


/********************************************Accomodomations*/
/********************************************Responsive*/



@media (max-width: 1000px)
{
    #hebergement_populaires, #activites
    {
        display: grid;  

    }

    #hebergement_populaires
    {
        display: grid;  
        grid-template-rows: auto 1fr   ;
        row-gap: 2rem;
    }

    #hebergement
    {
        display: grid;
        
        grid-template-rows:  6rem auto 1fr ;  
        row-gap: 2rem;
    }

    #populaires 
    {
        background-color: #F2F2F2;
        grid-row: 1/2;
    }
}

@media (min-width: 1000px)
{
    #hebergement_populaires, #activites
    {
        display: grid;   
        max-width: 1440px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #hebergement_populaires
    {
        grid-template-columns: 65%  auto ;
        column-gap: 2rem;
    }

    #hebergement, #populaires
    {
        background-color: #F2F2F2;  
    }

    #hebergement
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 2rem auto auto 2rem;  
        column-gap: 2rem;
        row-gap: 2rem;
    }
}

/*********************************************Popular*/

#populaires
{
    display: grid;
    grid-template-rows: 2rem auto auto auto;
    row-gap: 2rem;
}

#header_populaire
{
    grid-column: 1/-1;  
    margin: 0px;  
    height: auto;
    display: flex;
    justify-content: space-between;
}

.populaires_bloc
{
    display: flex;
    align-items: stretch;
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 25px;
    padding: 0.5em;  
    transition-duration: 0.1s;
    transform: scale(1);
}

.populaires_bloc:hover
{
    transform: scale(1.025);
}

.populaire__container_image
{
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.populaire_image
{   
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.populaire_text
{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

/*********************************************Activities*/

.image_activite_large
{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image_activite_bloc
{
    position: relative;
    flex: 1;
}

.activite_bloc
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 15px;
    margin-bottom:20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    transform: scale(1);
}

.activite_bloc:hover
{
    transform: scale(1.025);
}

.text_activite
{
    padding: 10px;
    position: relative;
}

/********************************************Activities*/
/********************************************Responsive*/

@media (max-width: 1000px)
{
    #activites
    {
        row-gap: 2rem;
    }

    .activite_bloc
    {
        height: 12rem;
    }

    .image_activite_bloc
    {
        overflow: hidden;    
    }

}

@media (min-width: 1000px)
{
    #activites
    {
        grid-template-columns:repeat(4, 1fr) ;
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
        column-gap: 2rem;
    }

    #activite_1
    {    
        grid-column: 1/2;
        grid-row: 2/7; 
    }

    #activite_2
    {    
        grid-column: 2/3;
        grid-row: 2/5; 
    }

    #activite_3
    {    
        grid-column: 2/3;
        grid-row: 5/7; 
    }

    #activite_4
    {    
        grid-column: 3/4;
        grid-row: 2/7; 
    }

    #activite_5
    {    
        grid-column: 4/5;
        grid-row: 2/3; 
    }

    #activite_6
    {    
        grid-column: 4/5;
        grid-row: 3/7; 
    }
}

/*********************************************Footer*/

footer
{
   display: block;
   background-color: #F2F2F2;  
   width: 100%;
}

#footer_container
{
    display: flex;   
    padding: 0 2rem;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
}

.footer_category
{
    width: 30%;
    padding: 0 2rem 0 0;
}

.li_footer
{
    margin: 1rem 0rem;
}



/*********************************************Footer*/
/*********************************************Responsive*/

@media (max-width: 600px)
{
    #footer_container
    {
        flex-direction: column;
    }

    .footer_category
    {  
        padding: 0 2rem;
        width: 90%;
    }
}
